# Lab 1-Python control statement
# if,else,elif,statement

In [1]:
if True :
    print("yes,Its TRUE...!")

yes,Its TRUE...!

In [5]:
X = False 
if X :
    print("yes,Its TRUE...!")
else:
        print ("Its False")

Its False

In [12]:
x=29
if x<26:
    print(" x is less than 26")
else:
    print(" x is greater than 26")

 x is greater than 26

In [16]:
city= "Surat"
if city =="Baroda":
    print(" welcome to Baroda")
elif city == "Amadabad":
    print(" welcome to Amadabad")
elif city =="Surat":
    print(" welcome to Surat")
else :
    print(" welcome to my home")

 welcome to Surat

# While Loop
while condision: statement

In [19]:
count =0
while (count <9):
    print (' The count is:',count)
    count =count+1
print ("Good bye...!")

 The count is: 0
 The count is: 1
 The count is: 2
 The count is: 3
 The count is: 4
 The count is: 5
 The count is: 6
 The count is: 7
 The count is: 8
Good bye...!

In [20]:
i=0
n=10
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

# For Loop

In [22]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print (i)

1
2
3
4
5
6
7
8
9
10

In [23]:
for i in range (1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [27]:
for letter in'dhara' :
    print (letter)

d
h
a
r
a

In [28]:
fruits =['apple','banana','rashbarry','kivi']
for fruit in fruits:
    print(fruit)

apple
banana
rashbarry
kivi

In [30]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2==0:
        print (i)

2
4
6
8
10

In [32]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2==1:
        print (i)

1
3
5
7
9

In [31]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    if i%2==0:
        print ('{} is even number'.format(i))
    else:  
         print ('{} is odd number'.format(i))

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [33]:
sqr_1lst=[x**2 for x in range(0,9)]
sqr_1lst

[0, 1, 4, 9, 16, 25, 36, 49, 64]