# Lab 2-Perform Basic Python Opration

We Will Cover following Topic

    Python variables
    Python data structures

In [1]:
#print your name
print(" I am dhara patel")

 I am dhara patel

# Python variables

A variable is a container for a value.
It can be assigned a name.
you can use it refer to it later in the program.based on the data type of the variable.

In [2]:
count=100               #Integer Assignment
kilometers=1000.0       #Float Assignment
name = 'Dhara'          #Sting Assignment
print(count,kilometers,name)

100 1000.0 Dhara

In [4]:
a,b,c=1,2,"Bhoomi"
print(a,b,c,sep=',')

1,2,Bhoomi

In [3]:
a="Hello World"
b=27
c=29.7
d= 1j
e=["apple","banana","rashbarry"]
f=["apple","banana","rashbarry"]
g=range (10)
h={"name":"Dhara"," age":18}
i={"apple","banana","rashbarry"}
j=frozenset({"apple","banana","rashbarry"})

In [4]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'list'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>

In [5]:
num=32.3e18
type(num)

float

# Python Strings

strings in Python are identified as a contiguous set of characters represented in the question marks.

In [7]:
str1='Python is programming language'
print(str1)

Python is programming language

In [9]:
print(str1[26])

u

In [11]:
print(str1[2:10])

thon is

In [15]:
print(str1[1:13])

ython is pro

In [18]:
str2='I am Dhara patel'
print(str2)

I am Dhara patel

In [50]:
# Default order
string1="{} {} {}".format ('Python','programming','Language')
print("print string is default order:")
print(string1)

print string is default order:
Python programming Language

# F-string
print String in order of krywords:
Python programming Language

In [33]:
#program of f-sting
val='Dhara'
print(f"{val}is the sudent of my class.")

Dharais the sudent of my class.

In [34]:
name='Dhara'
age=18
print( f"Hello,My name is {name} and I am{age} years old.")

Hello,My name is Dhara and I am18 years old.

In [53]:
str1=" Mango is king of fruits"
print(str1.upper())
print(str1.lower())
print(str1.title())
print(str1.capitalize())
print(str1.swapcase())
print(str1.isalpha())
print(str1.isupper())
      
a=str1.split()
print(a)
      
b=" ".join(a)
print(b)

 MANGO IS KING OF FRUITS
 mango is king of fruits
 Mango Is King Of Fruits
 mango is king of fruits
 mANGO IS KING OF FRUITS
False
False
['Mango', 'is', 'king', 'of', 'fruits']
Mango is king of fruits

# oprators
Arithmetic oprators

In [42]:
# addition
5+7

12

In [43]:
a=2
a+=6
print(a)

b=3
b*=4
print(b)

8
12

In [44]:
a=1
a=2
print(a==b)

b=1
b=2
print(a!=b)

False
False

In [47]:
a=3
print(a>2 and a<10)
b=4
print(b>2 and b<10)

True
True

In [56]:
# Deivision
3/2

1.5

In [57]:
# Floor Division
10//4

2

In [58]:
# Power
2**3

8

In [59]:
# can also do roots this way 
4**-.5

0.5

In [60]:
# order of oprations followed in python
2+10*10+3

105

In [61]:
# can use parentheses to specify orders
(2+10)*(10+3)

156

In [64]:
x=int(input("Enter the value of x;"))
y=int(input("Enter the value of y;"))
z=x*y
print(z)

Enter the value of x;26
Enter the value of y;16
416

# Python version check in notebook

In [81]:
from platform import python_version
print(python_version())

3.9.12

In [74]:
var1=12
var2=200.0
var3="Dhara" 
var4=True

print (var1)
print(type(var1))

print (var2)
print(type(var2))

print (var3)
print(type(var3))

print (var4)
print(type(var4))

12
<class 'int'>
200.0
<class 'float'>
Dhara
<class 'str'>
True
<class 'bool'>

In [82]:
s1="Gujarat"
s2="University"
print(s1)
print(s2) 

s3=s1+s2 # concentrasion of
print(s3)

s4=s1*4
print(s4)

Gujarat
University
GujaratUniversity
GujaratGujaratGujaratGujarat

In [79]:
name="RNGPIT"
print(name)
print(len(name))

RNGPIT
6

In [86]:
s1[:7]

'Gujarat'

In [84]:
s2[:]

'University'

In [90]:
s3[:8]

'GujaratU'