# Lab 2 - Perform Selection , Reindexing and sorting in Pandas

 # Program 1 - Selection and Reindexing

In [6]:
import pandas as pd
# Create dataframe
info = pd.DataFrame({"P":[4, 7, 1, 8, 9],
                     "Q":[6, 8, 10, 15, 11], 
                     "R":[17, 13, 12, 16, 14], 
                     "S":[15, 19, 7, 21, 9]},
                    index =["Nevid", "Dhara", "Prachi", "Het", "Mann"])
#Print dataframe
info

        P   Q   R   S
Nevid   4   6  17  15
Dhara   7   8  13  19
Prachi  1  10  12   7
Het     8  15  16  21
Mann    9  11  14   9

In [5]:
# reindexing with new index values 
info.reindex(["A", "B", "C", "D", "E"])

    P   Q   R   S
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN
E NaN NaN NaN NaN

In [7]:
# filling the missing values by 100 
info.reindex (["A", "B", "C", "D", "E"], fill_value =100)

     P    Q    R    S
A  100  100  100  100
B  100  100  100  100
C  100  100  100  100
D  100  100  100  100
E  100  100  100  100

import pandas as pd


data = {'A': 10, 'B': 20, 'C': 30}
original_series = pd.Series(data)
print("Original Series:")
print(original_series)
new_index = ['B', 'C', 'D', 'E']
reindexed_series = original_series.reindex(new_index)
print("\nReindexed Series:")
print(reindexed_series)

#  Program 2 - Pandas Sort

In [13]:
random=np.random.randn(10,2)
rand_int=np.random.randint(1,100,size=(4,4))
rand_int
df=pd.DataFrame(rand_int)

    0   1   2   3
0  74  32  59  49
1  16   2  46  43
2  50  21   9   1
3  13  58  76  66

In [16]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame (np.random.randn (10,2), index= [1,4,6,2,3,5,9,8,8,7], columns = ['co12', 'col1'])
sorted_df = unsorted_df.sort_index() 
print (sorted_df)

       co12      col1
1  0.618389 -1.055728
2  1.756231 -1.254513
3  0.754088 -0.183108
4  0.617954  1.104506
5 -1.656250  0.468478
6 -0.968198 -1.320106
7  0.794600 -0.590725
8  0.090136 -0.352826
8  0.125827  0.573235
9 -0.873187  0.447149

# Program 2 - Pandas Sort

In [17]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame (np.random.randn (10,2), index= [1,4,6,2,3,5,9,8,8,7], columns = ['co12', 'col1'])
sorted_df = unsorted_df.sort_index() 
print (sorted_df)

       co12      col1
1 -0.964960 -1.726257
2  0.413957 -0.425158
3  0.149866  1.373678
4  1.121314  1.535636
5  0.447854  0.545069
6 -0.524803 -0.808736
7  0.457474  0.381212
8  0.936117 -0.500142
8 -0.641871 -1.049221
9  1.544164 -0.114962

# 3 By Value