# Lab 2-CRUD Operation of MongoDB Using Python

In [12]:
import pymongo

In [13]:
myclient=pymongo.MongoClient("mongodb://locahost:27017/")

# Creating new database and collection in MongoDB

In [8]:
infosys_db=myclient["infosys_db"]

In [10]:
emp_coll=infosys_db['emp_coll']

# However,the database and the collection are not created until.them.lets fill them with data

In [14]:
emp_coll={
    "Name":"Dhara",
    "Age":18,
    "State":"Gujarat",
    "profile":"Developer",
    "Salary":78000,
    "Experience":6,
    "skills":["PHP","MySQL"]
    
}
{
    "Name":"Dhara",
    "Age":18,
    "State":"Gujarat",
    "profile":"Developer",
    "Salary":78000,
    "Experience":6,
    "skills":["PHP","MySQL"]
    
}
{
    "Name":"Dhara",
    "Age":18,
    "State":"Gujarat",
    "profile":"Developer",
    "Salary":78000,
    "Experience":6,
    "skills":["PHP","MySQL"]
    
}

{'Name': 'Dhara',
 'Age': 18,
 'State': 'Gujarat',
 'profile': 'Developer',
 'Salary': 78000,
 'Experience': 6,
 'skills': ['PHP', 'MySQL']}

In [13]:
emp=emp_call.insert_many(emp_data)

NameError: name 'emp_call' is not defined

# Reading Document

In [16]:
results=emp_coll.find()

In [17]:
results

In [2]:
for data in results:
    print(data)

NameError: name 'results' is not defined

In [1]:
emp_coll.find_one()

NameError: name 'emp_coll' is not defined

In [20]:
emp_coll.find_man

Collection(Database(MongoClient(host=['locahost:27017'], document_class=dict, tz_aware=False, connect=True), 'infosys_db'), 'emp_coll.find_man')

# list all collection inside infosys_db database

In [3]:
infosys_db.list_collection_names()

NameError: name 'infosys_db' is not defined

In [4]:
emp_coll=infosys_db['emp_coll']

NameError: name 'infosys_db' is not defined

# Deleting Database

In [5]:
Myclient .drop_database("rngpit_db")

NameError: name 'Myclient' is not defined